#choice {
    font-size: 3em;
    color: white;
}

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(136,114,113,1) 100%, rgba(77,76,80,1) 100%);
}

h1 {
    color: white;
}

button {
    background-color: darkgray;
    color: black;
    font-size: 1.5em;
    /*margin: 2px;*/
    border-radius: 25px;
}

.lose {
    margin-top: 1.5em;
    font-size: 10em;
}

.win {
    margin-top: 1.5em;
    font-size: 10em;
}

#btn2 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

#btn1 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}